<div class="w-full">
  @if (label()) {
    <label class="mb-2 block text-sm font-medium text-zinc-800">
      {{ label() }}
    </label>
  }

  <select
    [formControl]="control()"
    class="
      block w-full
      appearance-none
      rounded-lg
      border
      bg-white
      px-4 py-3
      text-sm
      text-zinc-900
      outline-none
      transition
      focus:ring-2
    "
    [class.border-zinc-300]="!(control().invalid && control().touched)"
    [class.focus:border-orange-500]="!(control().invalid && control().touched)"
    [class.focus:ring-orange-500/20]="!(control().invalid && control().touched)"
    [class.border-red-500]="control().invalid && control().touched"
    [class.focus:border-red-500]="control().invalid && control().touched"
    [class.focus:ring-red-500/20]="control().invalid && control().touched"
  >
    <option value="" disabled>
      {{ placeholder() }}
    </option>

    @for (option of options(); track option.value) {
      <option [value]="option.value">
        {{ option.label }}
      </option>
    }
  </select>

  <div class="min-h-6 pt-1">
    @if (control().invalid && control().touched) {
      <p class="text-sm text-red-500">
        {{ errorMessage() }}
      </p>
    }
  </div>
</div>